h3{
		color:purple;
		text-align:center;
}
p{
		font-size:50px;
}

h6{
		color:blue;
		text-align:center;
		font-size: 30px;
}
.purple{
		font-size: 80px;
}
img{
	display: block;
	margin: 0 auto;
}